<% content_for(:author, "Product | Marios") %>

<h1><%= @product.name %></h1>


<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <ul>
    <% @product.reviews.each do |review| %>
      <li>
        <%= review.author %><%= review.content_body %> <%= review.rating %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>
<p><%= link_to "Edit product", edit_product_path(@product) %></p>
<p><%= link_to "Delete Product", product_path(@product),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>
